In [1]:
%run corect_courses.py

In [2]:
%who

cr	 data_sql_list	 datetime	 db_lock	 df_try	 exp	 inf	 lg	 logging
pd	 query_try	 save_corect_course	 text_sql_request	 threading

In [2]:
query_try

'SELECT * FROM actual_after '

In [3]:
df_try

,index,id,time,m3,k,budowa,res,wenz,mat,p/d
0,1,2,2025-03-26 06:20:00.000000,2.0,1,"Park Skandynawia, etap E10, E1...",0.0,1,z,d
1,2,3,2025-03-26 06:30:00.000000,1.0,1,Sycylijska...,0.0,1,z,d
2,3,13,2025-03-26 07:13:00.000000,8.0,1,"Cukiernicza 4, Kolonia Lesznow...",4.0,1,b,p
3,4,12,2025-03-26 07:21:00.000000,8.0,1,Budynek usługowo-mieszkalny Fo...,24.0,1,b,p
4,5,13,2025-03-26 07:29:00.000000,4.0,2,"Cukiernicza 4, Kolonia Lesznow...",0.0,1,b,p
...,...,...,...,...,...,...,...,...,...,...
98,99,27,2025-03-26 15:19:36.000000,8.0,2,"Park Skandynawia, etap E10, E1...",0.0,2,b,d
99,100,25,2025-03-26 15:29:36.000000,8.0,2,Warszawa ul.Siennicka...,8.0,2,b,d
100,101,28,2025-03-26 15:49:36.000000,8.0,2,Mangalia 2 Warszawa...,8.0,1,b,d
101,102,25,2025-03-26 16:09:12.000000,8.0,3,Warszawa ul.Siennicka...,0.0,2,b,d
102,103,28,2025-03-26 16:39:12.000000,8.0,3,Mangalia 2 Warszawa...,0.0,1,b,d

In [4]:
df_try['time'] = pd.to_datetime(df_try['time'])
df_try.dtypes

index              int64
id                 int64
time      datetime64[ns]
m3               float64
k                  int64
budowa            object
res              float64
wenz              object
mat               object
p/d               object
dtype: object

In [5]:
target_time = pd.Timestamp.now()- pd.Timedelta(hours=9)
# target_time = pd.Timestamp.now()
start_time = target_time - pd.Timedelta(minutes=15)
end_time = target_time + pd.Timedelta(minutes=30)

In [6]:
df_now_loading = df_try[(df_try['time'] >= start_time) & (df_try['time'] <= end_time)]
df_now_loading

Empty DataFrame
Columns: [index, id, time, m3, k, budowa, res, wenz, mat, p/d]
Index: []

In [7]:
df_after_time = df_try[(df_try['time'] >= target_time)]
reszta = df_after_time['m3'].sum()
reszta

0.0

In [8]:
df_after_time.shape[0]

0

In [9]:
df_now_loading = df_now_loading.drop(['index', 'id', 'mat'], axis=1)
df_now_loading

Empty DataFrame
Columns: [time, m3, k, budowa, res, wenz, p/d]
Index: []

In [10]:
df_now_loading['time'] = df_now_loading['time'].dt.strftime("%H:%M")

In [13]:
df_now_loading

Empty DataFrame
Columns: [time, m3, k, budowa, res, wenz, p/d]
Index: []

In [12]:
df_now_loading = df_now_loading.astype(str)

In [14]:
df_now_loading['time'] = '<b>'+df_now_loading['time'].str.strip()+'</b>'
df_now_loading['k'] = 'kurs - '+df_now_loading['k'].str.strip()
df_now_loading['wenz'] = 'wenz - '+df_now_loading['wenz'].str.strip()+':::'
df_now_loading['res'] = 'reszta - '+df_now_loading['res'].str.strip()
df_now_loading['budowa'] = df_now_loading['budowa'].str.strip()+':::'
df_now_loading['p/d'] = (df_now_loading['p/d'].str.strip()).replace({'d':'dzwig:::','p':'pompa:::'})
df_now_loading['split'] = '----------------'
df_now_loading

,time,m3,k,budowa,res,wenz,p/d,split
24,<b>12:26</b>,2.0,kurs - 2,ul. Borecka 4...:::,reszta - 0.0,wenz - 1:::,dzwig:::,----------------
25,<b>12:30</b>,2.0,kurs - 3,Sycylijska...:::,reszta - 0.0,wenz - 1:::,dzwig:::,----------------

In [15]:
df_now_loading = df_now_loading.reindex(['time', 'm3', 'k', 'wenz', 'budowa', 'res','p/d','split'], axis=1)
df_now_loading

,time,m3,k,wenz,budowa,res,p/d,split
24,<b>12:26</b>,2.0,kurs - 2,wenz - 1:::,ul. Borecka 4...:::,reszta - 0.0,dzwig:::,----------------
25,<b>12:30</b>,2.0,kurs - 3,wenz - 1:::,Sycylijska...:::,reszta - 0.0,dzwig:::,----------------

In [16]:
df_now_loading.dtypes

time      object
m3        object
k         object
wenz      object
budowa    object
res       object
p/d       object
split     object
dtype: object

In [17]:
text = df_now_loading.to_string(header=False)

In [18]:
import re

In [19]:
text = text.replace(":::", "\n")
text = re.sub(r'[ \t]+', ' ', text).strip()

In [20]:
text = f"<b>W ciągu najbliższych 45 minut to będą ładować:</b>\nDzisiaj pozostało do wysyłki: {reszta}m3\n"+text

In [21]:
print(text)

<b>W ciągu najbliższych 45 minut to będą ładować:</b>
Dzisiaj pozostało do wysyłki: 4.0m3
24 <b>12:26</b> 2.0 kurs - 2 wenz - 1
 ul. Borecka 4...
 reszta - 0.0 dzwig
 ----------------
25 <b>12:30</b> 2.0 kurs - 3 wenz - 1
 Sycylijska...
 reszta - 0.0 dzwig
 ----------------

In [8]:

df_try

,index,id,time,m3,k,budowa,res,wenz,mat,p/d
0,1,1,2025-03-10 06:30:00,8.0,1,ul. Silnikowa 21...,132.0,1,b,p
1,2,3,2025-03-10 06:30:00,1.0,1,"Park Skandynawia, etap E10, E1...",0.0,1,z,d
2,3,1,2025-03-10 06:54:00,8.0,2,ul. Silnikowa 21...,124.0,1,b,p
3,4,1,2025-03-10 07:18:00,8.0,3,ul. Silnikowa 21...,116.0,1,b,p
4,5,4,2025-03-10 07:30:00,1.0,1,Sycylijska...,0.0,1,z,d
5,6,1,2025-03-10 07:42:00,8.0,4,ul. Silnikowa 21...,108.0,1,b,p
6,7,1,2025-03-10 08:06:00,8.0,5,ul. Silnikowa 21...,100.0,1,b,p
7,8,1,2025-03-10 08:30:00,8.0,6,ul. Silnikowa 21...,92.0,1,b,p
8,9,1,2025-03-10 08:54:00,8.0,7,ul. Silnikowa 21...,84.0,1,b,p
9,10,1,2025-03-10 09:18:00,8.0,8,ul. Silnikowa 21...,76.0,1,b,p
10,11,1,2025-03-10 09:42:00,8.0,9,ul. Silnikowa 21...,68.0,1,b,p
11,12,1,2025-03-10 10:06:00,8.0,10,ul. Silnikowa 21...,60.0,1,b,p
12,13,1,2025-03-10 10:30:00,8.0,11,ul. Silnikowa 21...,52.0,1,b,p
13,14,1,2025-03-10 10:54:00,8.0,12,ul. Silnikowa 21...,44.0,1,b,p
14,15,1,2025-03-10 11:18:00,8.0,13,ul. Silnikowa 21...,36.0,1,b,p
15,16,5,2025-03-10 11:30:00,8.0,1,"Warszwa, ul Biedronki...",17.0,1,b,p
16,17,1,2025-03-10 11:42:00,8.0,14,ul. Silnikowa 21...,28.0,1,b,p
17,18,5,2025-03-10 11:54:00,8.0,2,"Warszwa, ul Biedronki...",9.0,1,b,p
18,19,1,2025-03-10 12:06:00,8.0,15,ul. Silnikowa 21...,20.0,1,b,p
19,20,5,2025-03-10 12:18:00,7.0,3,"Warszwa, ul Biedronki...",2.0,1,b,p
20,21,1,2025-03-10 12:30:00,8.0,16,ul. Silnikowa 21...,12.0,1,b,p
21,22,5,2025-03-10 12:39:00,2.0,4,"Warszwa, ul Biedronki...",0.0,1,b,p
22,23,1,2025-03-10 12:54:00,8.0,17,ul. Silnikowa 21...,4.0,1,b,p
23,24,6,2025-03-10 13:00:00,8.0,1,"FLORESY , ul. Cybernetyki 7...",92.0,1,b,p
24,25,1,2025-03-10 13:18:00,4.0,18,ul. Silnikowa 21...,0.0,1,b,p
25,26,6,2025-03-10 13:24:00,8.0,2,"FLORESY , ul. Cybernetyki 7...",84.0,1,b,p
26,27,6,2025-03-10 13:48:00,8.0,3,"FLORESY , ul. Cybernetyki 7...",76.0,1,b,p
27,28,8,2025-03-10 14:00:00,8.0,1,ul. Skalnicowa...,8.0,1,b,p
28,29,7,2025-03-10 14:00:00,8.0,1,"Falenty Nowe ul. Kwitnąca 21, ...",2.0,1,b,d
29,30,6,2025-03-10 14:12:00,8.0,4,"FLORESY , ul. Cybernetyki 7...",68.0,1,b,p
30,31,8,2025-03-10 14:24:00,8.0,2,ul. Skalnicowa...,0.0,1,b,p
31,32,12,2025-03-10 14:30:00,8.0,1,Mangalia 2 Warszawa...,16.0,1,b,d
32,33,11,2025-03-10 14:30:00,8.0,1,"Park Skandynawia, etap E10, E1...",8.0,1,b,d
33,34,9,2025-03-10 14:30:00,8.0,1,Warszawa ul.Siennicka...,24.0,1,b,p
34,35,10,2025-03-10 14:30:00,8.0,1,"Park Skandynawia, etap E10, E1...",8.0,1,b,d
35,36,6,2025-03-10 14:36:00,8.0,5,"FLORESY , ul. Cybernetyki 7...",60.0,1,b,p
36,37,9,2025-03-10 14:54:00,8.0,2,Warszawa ul.Siennicka...,16.0,1,b,p
37,38,6,2025-03-10 15:00:00,8.0,6,"FLORESY , ul. Cybernetyki 7...",52.0,1,b,p
38,39,7,2025-03-10 15:04:00,2.0,2,"Falenty Nowe ul. Kwitnąca 21, ...",0.0,1,b,d
39,40,9,2025-03-10 15:18:00,8.0,3,Warszawa ul.Siennicka...,8.0,1,b,p
40,41,6,2025-03-10 15:24:00,8.0,7,"FLORESY , ul. Cybernetyki 7...",44.0,1,b,p
41,42,13,2025-03-10 15:30:00,8.0,1,Sycylijska...,8.0,1,b,d
42,43,12,2025-03-10 15:34:00,8.0,2,Mangalia 2 Warszawa...,8.0,1,b,d
43,44,11,2025-03-10 15:34:00,8.0,2,"Park Skandynawia, etap E10, E1...",0.0,1,b,d
44,45,10,2025-03-10 15:34:00,8.0,2,"Park Skandynawia, etap E10, E1...",0.0,1,b,d
45,46,9,2025-03-10 15:42:00,8.0,4,Warszawa ul.Siennicka...,0.0,1,b,p
46,47,6,2025-03-10 15:48:00,8.0,8,"FLORESY , ul. Cybernetyki 7...",36.0,1,b,p
47,48,6,2025-03-10 16:12:00,8.0,9,"FLORESY , ul. Cybernetyki 7...",28.0,1,b,p
48,49,13,2025-03-10 16:34:00,8.0,2,Sycylijska...,0.0,1,b,d
49,50,6,2025-03-10 16:36:00,8.0,10,"FLORESY , ul. Cybernetyki 7...",20.0,1,b,p
50,51,12,2025-03-10 16:38:00,8.0,3,Mangalia 2 Warszawa...,0.0,1,b,d
51,52,6,2025-03-10 17:00:00,8.0,11,"FLORESY , ul. Cybernetyki 7...",12.0,1,b,p
52,53,6,2025-03-10 17:24:00,8.0,12,"FLORESY , ul. Cybernetyki 7...",4.0,1,b,p
53,54,6,2025-03-10 17:48:00,4.0,13,"FLORESY , ul. Cybernetyki 7...",0.0,1,b,p

In [5]:
search_pattern= 'mang'

In [6]:
request_kurs = 2

In [7]:
df_source= df_try[df_try['budowa'].str.contains(search_pattern, case=False, na=False)]

In [8]:
df_source = df_source[df_source['k'] == request_kurs]

In [9]:
df_source

,index,id,time,m3,k,budowa,res,wenz,mat,p/d
42,43,12,2025-03-10 15:34:00.000000,8.0,2,Mangalia 2 Warszawa...,8.0,1,b,d

In [10]:
df_source = df_source.copy()

In [11]:
df_source['time'] = pd.to_datetime(df_try['time'])

In [12]:
df_source['time'] = df_source['time'].dt.strftime("%H:%M")

In [13]:
df_source

    index  id   time   m3  k                  budowa  res wenz mat p/d
42     43  12  15:34  8.0  2  Mangalia 2 Warszawa...  8.0    1   b   d

In [14]:
df_source = df_source.astype(str)

In [15]:
df_source = df_source.drop(['id', 'mat'], axis=1)

In [16]:
df_source['index'] = '<b><u>'+df_source['index'].str.strip()+'</u></b>'
df_source['time'] = df_source['time'].str.strip()
df_source['k'] = 'k - '+'<b><u>'+ df_source['k'].str.strip()+'</u></b>'
df_source['res'] = 'res - '+df_source['res'].str.strip()+':::'
df_source['budowa'] = df_source['budowa'].str.strip()+':::'
df_source['p/d'] = (df_source['p/d'].str.strip()).replace({'d':'dzwig:::','p':'pompa:::'})
df_source['split'] = '----------------'
df_source

,index,time,m3,k,budowa,res,wenz,p/d,split
42,<b><u>43</u></b>,15:34,8.0,k - <b><u>2</u></b>,Mangalia 2 Warszawa...:::,res - 8.0:::,1,dzwig:::,----------------

In [ ]:
df_source = df_source.reindex(['time', 'm3', 'k', 'res', 'budowa', 'p/d','split'], axis=1)

In [ ]:
df_source

In [84]:
text = df_source.to_string(header=False, index_names=False)

In [85]:
import re

In [86]:
text = text.replace(":::", "\n")
text = re.sub(r'[ \t]+', ' ', text).strip()

In [87]:
print(text)

14 <b>09:24</b> 8.0 k - 2 res - 40.0
 Mangalia 2 Warszawa...
 pompa
 ----------------
38 <b>15:34</b> 8.0 k - 2 res - 0.0
 Mangalia 2 Warszawa...
 dzwig
 ----------------